{% if not disable_stripe %}
  <button name="stripe-provider" class="stripe-button">
    <span class="stripe-button-text">
      {{ "Pay with Credit card" | translate("stripe-label", "button label") }}
    </span>
  </button>
{% endif %}
