title=Join our team | Adblock Plus
description=Join us in our quest to change how millions of people around the world experience the internet!
template=minimal
style=pages/careers.css

<main>
  <div class="bg-blue">
    <div class="container">
      <div class="section">
        <div class="row reverse">
          <div class="column one-half content text-center">
            <img
              id="hero-image-wide"
              height="284"
              width="286"
              src="/img/panda.svg"
              alt="{{ "" | translate("hero-banner-alt", "message ") }}">
          </div>
          <div class="column one-half content">
            <header>
              <h1 class="hero-heading">
                Join our team
              </h1>
              <p class="hero-subheading">
                Our mission is to reduce the anxiety level of using the internet. That means creating a distraction-free and worry-free internet experience for everyone.
              </p>
              <p>
                The <strong>Adblock Plus</strong> brand is part of <strong><a href="https://eyeo.com/" target="_blank">eyeo GmbH</a></strong>. If you don't find a role for Adblock Plus, you can check out our main company's website for available positions. <a class="arrow" href="https://eyeo.com/jobs/" target="_blank">Check it out</a>
              </p>
            </header>
          </div> <!-- END .column -->
        </div> <!-- END .row -->
      </div> <!-- END .section -->
    </div> <!-- END .container -->
  </div> <!-- END .bg-blue -->
  <div class="content container">
    <h2>Open positions</h2>
    <p>
      Join us in our quest to change how millions of people around the world experience the internet!
    </p>

    <div class="jobs-container">
      <div class="job-ad">
        <a href="software-engineer-adblock-plus">Software Developer (m/f/d)</a> <span>– Full-time; Remote</span>
        <p class="timeline">Posted on September 22nd, 2021</p>
        <div class="job-labels">
          <span class="tag-1">Vanilla JS</span>
          <span class="tag-2">CSS</span>
          <span class="tag-3">HTML</span>
        </div>
      </div><!-- END .job-ad -->
    </div><!-- END .jobs-container -->
  </div><!-- END .container -->

  <div class="content container bottom-60">
    <h3>What we offer</h3>
    <ul>
      <li><strong>Competitive Salary.</strong> Our salaries are based on Radford data, a widely-used global compensation benchmark, to ensure we provide competitive pay. We don't adjust your salary based on where you live, so you can live wherever you like.</li>
      <li><strong>Comprehensive Benefits.</strong> We offer a benefits package that includes health insurance, retirement benefits, plenty of paid vacation, paid parental leave and a monthly child care stipend. The details vary based on where you live, in the US this includes health insurance coverance and 401k matching.</li>
      <li><strong>Professional Growth.</strong> We give team members the autonomy to do their best work. Because we're a small team, you'll be able to immediately see the impact of your work and grow with the team. We also support professional development with training, coaching, and regular feedback.</li>
      <li><strong>Fully Distributed Community.</strong> You'll be able to work 100% remotely, yet remain well-connected to your colleagues. When we're not in the midst of a pandemic, we meet at least once a year for a week-long offsite.</li>
      <li><strong>Generous Vacation Policy.</strong> We encourage our employees to take the time they need for vacation, to spend time with their families, and to stay healthy by offering at least 28 days of paid leave.</li>
      <li><strong>Office Equipment.</strong> We'll provide you with a setup of your choice, based on what you need to work effectively.</li>
    </ul>
  </div><!-- END .container -->
</main>