title=Donate to Adblock Plus
description=Adblock Plus is free, community-supported software, and that wouldn’t be possible without your continued support.

<head>
  <style>
    .mt3 { margin-top: 3rem; }
  </style>
  <link rel="stylesheet" href="build/css/donate.css">
</head>

<p>
  {{ donate-lead Adblock Plus is—and always will be—free. Our mission is to provide users with tools that allow them to take control of their online browsing experience and protect them from unwanted and malicious elements. Your donation directly helps the development of Adblock Plus. }}
</p>

<? include payment/form-donate ?>

<footer class="mt3">
  <p>
    <small>{{ donate-support You can request a refund within 120 days of payment. You can also cancel your recurring donation at any time. Please send an email to <a data-mask='{"href": "bWFpbHRvOmRvbmF0aW9uc0BhZGJsb2NrcGx1cy5vcmc=", "textContent": "ZG9uYXRpb25zQGFkYmxvY2twbHVzLm9yZw=="}'>this address</a> and include your email address, date, the amount donated, and the transaction code. Learn more about refunds in our <a href="https://help.eyeo.com/en/adblockplus/donations">Help Center article</a>. }}</small>
  </p>
</footer>

<script src="/build/js/donate.min.js"></script>

<? include payment/config/stripe ?>

