title=Adblock Plus has been updated
prevent_cookie_prompt=1
robots=none
template=bare

<head>
  <link rel="stylesheet" href="build/css/update.css">
  <script>window.campaignID = 2;</script>
</head>

<main class="update container content">

  <div class="update-header clearfix">
    <img
      alt=""
      height="130"
      width="130"
      class="update-header-image"
      src="/img/adblock-plus-latest.svg">
    <h1 class="update-header-heading">
      {{ update-heading-1[heading] Adblock Plus has been updated! <span class="small">(version 3.11) </span> }}
    </h1>
    <p class="update-header-lead">
      {{ update-lead-1 We’ve spent the last few months adding new features and improving Adblock Plus’ performance. We’re passionate about bringing you the best ad-blocking technology so you can enjoy a clean web. Adblock Plus is free, community-supported software, and that <strong>wouldn't be possible without your continued support.</strong> }}
    </p>
  </div>

  <p>
    {{ update-lead-2 We devote a lot of time and resources into developing and securing the best online experience for our users. Please donate what you think is a fair contribution to the Adblock Plus project and our attempts to keep the ad-blocking community alive. <strong>Every donation is appreciated!</strong> }}
  </p>

  <? include payment/form ?>

  <h2>
    {{ whats-new-header-1 What’s new? }}
  </h2>
  <p>
    {{ whats-new-lead-1 Here is an overview of some improvements and new features. More changes coming soon! }}
  </p>
  <ul>
    <li>
      {{ whats-new-list-1 <strong>New Recommended Filters.</strong> We’ve made it easier to block additional distractions such as cookie notifications and more. Visit <em>Settings > General > Recommended filters</em> to try them out! }}
    </li>
    <li>
      {{ whats-new-list-2 <strong>Improved Ad Blocking.</strong> Many websites make it difficult for Adblock Plus to block ads on their site. We’ve improved our ability to block ads on these websites, and update this ability regularly. Please use our Report Issue feature to let us know if you have any issues with our ad blocking ability. }}
    </li>
    <li>
      {{ whats-new-list-3 <strong>Better Performance.</strong> We’ve improved our logic when checking for turned off filter lists so that Adblock Plus uses less bandwidth. }}
    </li>
    <li>
      {{ whats-new-list-4 <strong>Improved Privacy.</strong> For our users browsing in private tabs, we’ve excluded the number of blocked requests from the total blocked counter. }}
    </li>
    <li>
      {{ whats-new-list-5 <strong>Better Debugging.</strong> For our technical users we introduced a debug mode for element-hiding filters that can be turned on in the Adblock Plus <em>Advanced</em> settings page. You can easily highlight elements that are affected by element-hiding filters. }}
    </li>
  </ul>
  <p>
    {{ whats-new-support Need to report an issue? Reach out to us via social media, <a data-mask='{"href": "bWFpbHRvOmRvbmF0aW9uc0BhZGJsb2NrcGx1cy5vcmc="}'>email</a> or the <a href="https://adblockplus.org/forum">user forum</a>. }}
  </p>

</main>

<footer class="privacy-footer">
  <a href="https://adblockplus.org/privacy">{{ privacy-policy[footer link] Privacy Policy }}</a>
</footer>

<script src="/build/js/update.min.js"></script>

<? include payment/config/stripe ?>
